@model AdminFrontend.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Смена системного пароля";
    ViewBag.Breadcrumbs = new List<AdminFrontend.Models.Breadcrump>
    {
        new AdminFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<div class="central-container" id="password-edit-table">
    <h2>@ViewBag.Title</h2>

    <div class="form-input-title">@Html.LabelFor(m => m.OldPassword)</div>
    <div>@Html.PasswordFor(m => m.OldPassword, new { data_bind = "value: OldPassword", @class = "form-input" })</div>

    <div class="form-input-title">@Html.LabelFor(m => m.NewPassword)</div>
    <div>@Html.PasswordFor(m => m.NewPassword, new { data_bind = "value: NewPassword", @class = "form-input" })</div>

    <div class="form-input-title">@Html.LabelFor(m => m.NewPasswordConfirm)</div>
    <div>@Html.PasswordFor(m => m.NewPasswordConfirm, new { data_bind = "value: NewPasswordConfirm", @class = "form-input" })</div>

    <button class="rcp-button form-submit-btn" id="btn-submit">Сохранить</button>
</div>


<script type="text/javascript">
    var viewModel = {
        OldPassword: ko.observable(@Model.OldPassword),
        NewPassword: ko.observable('@Model.NewPassword'),
        NewPasswordConfirm: ko.observable('@Model.NewPasswordConfirm')
    };
    $('#btn-submit').click(function () {
        var data = ko.mapping.toJS(viewModel);
        Fader.show();
        $.post(
            '@Url.Action("Save")',
            data,
            function (result) {
                Fader.hide();
                if (result.success) {
                    window.location.replace(result.returnTo);
                } else {
                    alert(result.msg);
                }
            }
        );
    });

    ko.applyBindings(viewModel, $('password-edit-table')[0]);
</script>