@model AdminFrontend.ViewModels.TeacherEditViewModel

@{ 
    ViewBag.Breadcrumbs = new List<AdminFrontend.Models.Breadcrump>
    {
        new AdminFrontend.Models.Breadcrump { Title = "Учителя", Action = "Index", Controller = "Teachers" },
        new AdminFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<div class="central-container" id="teacher-edit-table">
    <h2>@ViewBag.Title</h2>

    <div class="form-input-title">Логин</div>
    <div>@Html.TextBoxFor(m => m.Login, new { data_bind = "value: Login", @class="form-input" })</div>
    <div class="form-input-title">Пароль</div>
    <div>@Html.PasswordFor(m => m.Password, new { data_bind = "value: Password", @class = "form-input" })</div>

    <button class="rcp-button form-submit-btn" id="btn-submit">Сохранить</button>
</div>

<script type="text/javascript">
    var viewModel = {
        Id: ko.observable(@Model.Id),
        Login: ko.observable('@Model.Login'),
        Password: ko.observable('@Model.Password')
    };
    $('#btn-submit').click(function () {
        var data = ko.mapping.toJS(viewModel);
        Fader.show();
        $.post(
            '@Url.Action("Save", "Teachers")',
            data,
            function (result) {
                Fader.hide();
                if (result.success) {
                    window.location.replace(result.returnTo);
                } else {
                    alert(result.msg);
                }
            }
        )
        .fail(function () {
            window.location.replace('@Url.Action("Default", "Errors")');
        });
    });

    ko.applyBindings(viewModel, $('teacher-edit-table')[0]);
</script>