@model AdminFrontend.ViewModels.TeacherEditViewModel

<h2>@ViewBag.Title</h2>

<div id="teacher-edit-table">
    <table>
        <tr>
            <td>Логин</td>
            <td>@Html.TextBoxFor(m => m.Login, new { data_bind = "value: Login" })</td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>@Html.TextBoxFor(m => m.Password, new { data_bind = "value: Password" })</td>
        </tr>
    </table>
    <button id="btn-submit">Сохранить</button>
</div>

<script type="text/javascript">
    var viewModel = {
        Id: ko.observable(@Model.Id),
        Login: ko.observable('@Model.Login'),
        Password: ko.observable('@Model.Password')
    };
    $('#btn-submit').click(function () {
        var data = ko.mapping.toJS(viewModel);
        $.post(
            '@Url.Action("Save", "Teachers")',
            data,
            function(result) {
                alert(result.msg);
                if (result.success) {
                    window.location.replace(result.returnTo);
                }
            }
        );
    });

    ko.applyBindings(viewModel, $('teacher-edit-table')[0]);
</script>