@model int

@{
    ViewBag.Breadcrumbs = new List<AdminFrontend.Models.Breadcrump>
    {
        new AdminFrontend.Models.Breadcrump { Title = "Работники", Action = "Index", Controller = "Workers" },
        new AdminFrontend.Models.Breadcrump { Title = ViewBag.Title, Unclickable = true }
    };
}

<div class="central-container" id="worker-edit-table">
    <h2>@ViewBag.Title</h2>

    <div class="form-input-title">ФИО</div>
    <div><input class="form-input" data-bind="value: FullName" /></div>
    <div class="form-input-title">Логин</div>
    <div><input class="form-input" data-bind="value: Login" /></div>
    <div class="form-input-title">Пароль</div>
    <div><input class="form-input" type="password" data-bind="value: Password" /></div>
    <button class="rcp-button form-submit-btn" data-bind="click: save">Сохранить</button>
</div>

<script type="text/javascript">
    $(() => {
        Fader.show();
        function init(data) {
            let viewModel = ko.mapping.fromJS(data);
            viewModel.save = function () {
                let postData = ko.mapping.toJS(viewModel);
                Fader.show();
                $.post(
                    '@Url.Action("SaveByAdmin", new { id = Model })',
                    postData,
                    function (result) {
                        Fader.hide();
                        if (result.success) {
                            window.location.replace(result.returnTo);
                        } else {
                            alert(result.msg);
                        }
                    }
                )
                .fail(function () {
                    window.location.replace('@Url.Action("Default", "Errors")');
                });
            }
            ko.applyBindings(viewModel, $('#worker-edit-table')[0]);
            Fader.hide();
        }

        $.post(
            '@Url.Action("GetWorkerInfoForAdmin", new { id = Model })',
            null,
            init
        )
        .fail(function () {
            window.location.replace('@Url.Action("Default", "Errors")');
        });
    });
</script>