@using AdminFrontend.ViewModels
@helper Table(TableViewModel model)
{
    <style>
        .rcp-table {
            border: 1px solid #000000;
            width: 100%;
        }
        .rcp-table-head {
            border-bottom: 2px double #000000;
            background: #c8c8c8;
        }
        .rcp-table-footer {
            border: 1px solid #000000;
            border-top: 2px double #000000;
        }
        .rcp-table-footer tr {
            height: 40px;
        }
        .rcp-table-btn-column {
            width: 5%;
            text-align: left;
        }
        tr .rcp-table-btn-column:first-of-type {
            width: 10%;
            text-align: center;
        }
        .rcp-table-delete-btn {
            color: red;
        }
        .rcp-table-edit-btn {
            color: green;
        }
        .rcp-button {
            /*cursor: pointer;*/
        }
    </style>

    <table class="rcp-table">
        <thead class="rcp-table-head">
            <tr>
                <td></td>
                <td></td>
                @foreach (var colName in model.ColumnsNames)
                {
                    <td>@colName</td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in model.Rows)
            {
                <tr>
                    <!--Редактирование-->
                    <td class="rcp-table-btn-column">
                        <a class="fa fa-pencil-square-o rcp-table-icon rcp-table-edit-btn" title="Редактировать" href="@(model.EditAction + row.Id)"></a>
                    </td>
                    <!--Удаление-->
                    <td class="rcp-table-btn-column">
                        <a class="fa fa-times rcp-table-icon rcp-table-delete-btn" title="Удалить" onclick="deleteById(@row.Id)"></a>
                    </td>
                    @foreach (var col in row.Columns)
                    {
                        <td>@col</td>
                    }
                </tr>
            }
        </tbody>
        <tfoot class="rcp-table-footer">
            <tr>
                <td class="rcp-table-btn-column">
                    <form action="@model.AddAction">
                        <button class="rcp-button">Добавить</button>
                    </form>
                </td>
                <td colspan="@(model.ColumnsNames.Length + 1)"></td>
            </tr>
        </tfoot>
    </table>

    <script type="text/javascript">
        var deleteUrl = '@model.DeleteAction';
        function deleteById(id) {

            let url = deleteUrl + id
            $.post(
                url,
                null,
                function (result) {
                    alert(result.msg);
                    if (result.success) {
                        location.reload();
                    }
                }
            );
        }
    </script>
}